/* Calendar Cell Design */

/*
fc-event(gcal-***)
|- fc-event-inner
|  |- fc-event-time
|  \- fc-event-title
\- fc-event-bg
*/

.legend {
    color: #353535;
    font-weight: bold;
    text-shadow: 1px 1px 0 #cbcbcb;
    text-align: center;
}

.fc-event-time {
    color: #000000;
}
.fc-event-title {
    color: #353535;
    font-weight: bold;
    text-shadow: 1px 1px 0 #cbcbcb;
}
.fc-event-vert .fc-event-bg {
    background: none;
    opacity: 1;
}

.gcal-shinmachi {
    background-color: #90ee90;
}

.gcal-ryougoku {
    background-color: #87ceeb;
}

.gcal-boardwalk {
    background-color: #dda0dd;
}

.gcal-cinema1 {
    background-color: #deb887;
}

.gcal-cinema2 {
    background-color: #ffc0cb;
}

.gcal-poppo {
    background-color: #f0e68c;
}

.gcal-announce {
    background-color: #c0c0c0;
}

/* Other */
table.fc-agenda-days thead {
    display: none;
}