/* Calendar Cell Design */

/* v2
a. fc-day-grid-event fc-event fc-start fc-end gcal-***** // allday
a. fc-time-grid-event fc-event fc-start fc-end gcal-***** // event
|- div. fc-content
|  |- div. fc-time
|  \- div. fc-title
\- div. fc-bg
 */

/* 凡例部分(FullCalendar範囲外) */
.legend {
    color: #353535;
    font-weight: bold;
    /*text-shadow: 1px 1px 0 rgba(255,255,255,25);*/
    text-align: center;
    white-space: nowrap;
}

/* ふぁぼ機能インジケータ */
.favorited .fc-title:before {
    color: #a90016;
    content: "★";
    text-shadow: 0 0 2px yellow;
}

/* FullCalendar Event Item */
.fc-time {
    color: #000000;
}
.fc-title {
    color: #353535;
    font-weight: bold;
    /*text-shadow: 1px 1px 0 #cbcbcb;*/
}
.fc-bg {
    background: none;
    opacity: 1;
}

.fc-day-grid-event {
    height: 30px;
    white-space: nowrap;
}

/* カラー定義 */
.gcal-bizan {
    background-color: #85C8AA;
}

.gcal-pagoda {
    background-color: #FFB01C;
}

.gcal-shinmachi {
    background-color: #90ee90;
}

.gcal-ryougoku {
    background-color: #87ceeb;
}

.gcal-arcade {
    background-color: #bffff0;
}

.gcal-boardwalk {
    background-color: #dda0dd;
}

.gcal-cinema1 {
    background-color: #deb887;
}

.gcal-cinema2 {
    background-color: #ffc0cb;
}

.gcal-poppo {
    background-color: #f0e68c;
}

.gcal-other {
    background-color: #c3c3c3;
}

.gcal-announce {
    /*border: 2px dotted #ff0000;*/
    background-color: #ff9999;
}

/* Other */
div.fc-agendaDay-view thead {
    display: none;
}