.ons-list-item-inner p,
.ons-list-item-inner div {
    line-height: normal;
}

.ons-list-item-inner div.list__right-label {
    padding-right: 20px;
    line-height: 44px;
}

.app-list-item {
    padding-top: 12px;
    padding-bottom: 12px;
}
.app-list-item .desc {
    font-size: 0.8em;
}

.list__item:last-child {
    margin-bottom: 44px;
}