/* Event View design */

.scroller {
    padding-bottom: 50px;
}

.markdown {
    max-width: 400px;
    margin: 0 auto;
}

.markdown ul {
    text-align: left;
}

.markdown li {
    text-align: left;
}

.markdown img {
    max-width: 90%;
}