/* Event View design */

.markdown {
}

.markdown h1 {
    font-size: 20px;
}

.markdown h2 {
    font-size: 16px;
}

.markdown h3 {
    font-size: 14px;
}

.markdown ul {
    text-align: left;
}

.markdown li {
    text-align: left;
}

.markdown img {
    max-width: 90%;
}