<ons-page class="center" ng-controller="TwitterOfficialCtrl as ctrl">

  <ons-toolbar>
    <div class="left">
      <ons-back-button ui-sref="root">戻る</ons-back-button>
    </div>
    <div class="center">
      Twitter
    </div>
  </ons-toolbar>

  <a class="twitter-timeline"
     href="https://twitter.com/pside/machiasobi-official"
     height="{{ ctrl.contentHeight }}"
     data-dnt="true"
     data-chrome="noheader nofooter noborders"
     data-widget-id="458265392213786625">Tweets from https://twitter.com/pside/machiasobi-official</a>

</ons-page>