<ons-navigator var="app.calendarNavi">
  <div ng-controller="CalendarViewCtrl">

    <ons-toolbar>
      <div class="left">
        <ons-state-back-button>
          戻る
        </ons-state-back-button>
      </div>

      <div class="center">カレンダー</div>

      <div class="right">
        <ons-toolbar-button ng-click="app.calendarNavi.pushPage('partials/calendar/search.html')">
          <ons-icon icon="ion-search" style="font-size: 32px; width: 1em"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>

    <div id="calendar-header-area">

      <!-- 日付選択 -->
      <div class="navigation-bar">
        <div class="navigation-bar__center" style="padding:0 4px;">

          <div class="button-bar" style="width: 100%; margin:8px auto 0;" id="dateSelector">
            <div class="button-bar__item"
                 ng-repeat="period in periods"
                 ng-class="{active: selectedDateId == $index}">
              <input type="radio" name="navi-segment-a"
                     ng-click="setSelectedDateId($index)"
                     ng-checked="selectedDateId == $index">

              <div class="button-bar__button">{{ period.date | date:"MM月dd日(EEE)" }}</div>
            </div>
          </div>

        </div>
      </div>

      <!-- 凡例表示 -->
      <ons-row id="legends" ng-show="calendarConfig.showLegend">
        <ons-col ng-repeat="calendar in calendars"
                 ng-show="!calendar.isSticky"
                 width="33.3%"
                 class="legend gcal-{{ calendar.id }}"
                 ng-click="showOnlyThisEvent($index)"
                 analytics-on analytics-category="Calendar--Legend" analytics-event="Click"
                 analytics-label="{{ calendar.id }}">
          {{ calendar.name }}
        </ons-col>
      </ons-row>
    </div>

    <!-- FullCalendar -->
    <div ui-calendar="calendarConfig"
         ng-model="eventSources"
         calendar="myCalendar"
         class="calendar"
         id="calendar">
    </div>

  </div>
</ons-navigator>
