<ons-page ng-controller="CalendarMenuCtrl">

  <ons-list>
    <ons-list-header>
      機能
    </ons-list-header>
    <ons-list-item>
      <ons-switch modifier="list-item"
                  ng-checked="calendarConfig.allDaySlot"
                  ng-click="toggleAllDay()"></ons-switch>
      終日イベントを表示する
    </ons-list-item>
    <ons-list-item>
      <ons-switch modifier="list-item"
                  ng-checked="calendarConfig.showLegend"
                  ng-click="toggleLegend()"></ons-switch>
      凡例を表示する
    </ons-list-item>
    <ons-list-item>
        <ons-switch modifier="list-item"
                    ng-checked="isOnlyFavorite"
                    ng-click="showOnlyFavorite()"></ons-switch>
        ふぁぼったイベントだけ見る
    </ons-list-item>

    <ons-list-header>
      カレンダーのON/OFF
    </ons-list-header>
    <ons-list-item>
      <ons-switch modifier="list-item"
                  ng-checked="anythingIsSelected"
                  ng-click="toggleAllCalendars()"></ons-switch>
      一括ON/OFF
    </ons-list-item>
    <ons-list-item
        ng-repeat="calendar in calendars"
        ng-if="calendar.sticky === false">
      <ons-switch modifier="list-item"
                  ng-checked="calendarStatuses[$index]"
                  ng-click="toggleCalendar($index)"></ons-switch>
      {{ calendar.name }}
    </ons-list-item>
  </ons-list>

</ons-page>