<ons-page ng-controller="MapDetailCtrl">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ui-sref="map">
        <ons-icon icon="ion-ios7-arrow-back" size="36px"></ons-icon>
        戻る
      </ons-toolbar-button>
    </div>
    <div class="center">{{ item.name }}</div>
  </ons-toolbar>

  <ui-gmap-google-map center="map.center" zoom="map.zoom">
    <ui-gmap-markers models="markers" coords="'coords'" click="'onClickMarker'">
      <ui-gmap-windows show="'visible'" templateParameter="'hoge'">
        <div>
          <strong ng-non-bindable>{{ name }}</strong>

          <div ng-non-bindable>{{ description }}</div>
          <ons-button modifier="light"
                      ng-click="$parent.$parent.$parent.openSelectedCoords()">
            <ons-icon icon="ion-map"></ons-icon>
            アプリで開く
          </ons-button>
        </div>
      </ui-gmap-windows>
    </ui-gmap-markers>
  </ui-gmap-google-map>
</ons-page>

<!--

-->