<ons-page class="center">
    <ons-scroller class="center">
        <ons-button
                type="large"
                ng-click="ons.screen.dismissPage()">
            この画面を閉じる
        </ons-button>

        <div class="markdown">
            <h1>変更履歴</h1>

            <h2>ver. 0.6.0</h2>
            <h3>イベントをふぁぼる機能を追加しました！</h3>
            <p>ふぁぼ機能は、「このイベントは行く！」というようなイベントに<strong>星(ふぁぼ)を付け、ふぁぼったイベントのみを閲覧できる</strong>機能です。</p>
            <p>ふぁぼったイベントは以下のようにマチ★アソビカラーの星が付きます。</p>
            <img src="images/fav.png" alt="ふぁぼ機能サンプル"/>
            <p>ふぁぼったイベントだけを抽出してカレンダー上に表示することで、マチ★アソビの戦略が立てやすくなる、かも知れません。</p>
            <p>PCでの動作を確認しましたが、スマートフォンでの性能調査を行うため、しばらくは試験運用します。</p>
        </div>

        <ons-button
                type="large"
                ng-click="ons.screen.dismissPage()">
            この画面を閉じる
        </ons-button>
    </ons-scroller>
</ons-page>