<ons-page class="center">
    <ons-navigator-toolbar
            title="このアプリについて">
    </ons-navigator-toolbar>

    <ons-scroller class="center">
        <h1>マチ<span style="color: #a90016">★</span>アプリ</h1>

        <p>
            マチ★アソビを攻略せよ。
        </p>

        <p>
            マチ★アソビのイベント一覧を日時別、場所別に表示します。<br>
            加えて、公式Twitterを一覧したりすることが出来るなどの機能を有しております。
        </p>

        <h2>免責事項</h2>

        <p>
            <strong>このアプリおよびアプリの製作者は「マチ★アソビ」の主催者とは関係がございません。</strong><br>
            このアプリで提供されている情報について、正しい情報を提供することを心がけておりますが、
            これら情報の真偽の保証はできかねます。利用者様の判断の上でご利用下さい。
        </p>

        <p>
            このアプリに関するご意見などは下記作成者までご連絡をお願いします。<br>
            「マチ★アソビ」の主催者へ問い合わせをしないようお願いいたします。
        </p>

        <ons-button
                ng-click="ons.screen.presentPage('tutorial.html');">
            チュートリアルを見る
        </ons-button>


        <ons-button
                ng-click="ons.screen.presentPage('changelog.html');">
            更新履歴を見る
        </ons-button>

        <address>
            <h4>作成者</h4>
            <a href="https://twitter.com/pside" target="_blank">@pside</a><br>

            <h4>ご協力頂いた皆様</h4>
            工作船 明石<br>

            <h4>Special Thanks</h4>
            マチ★アソビに関わる全ての皆様
        </address>
    </ons-scroller>
</ons-page>