<ons-page style="background-color: white" ng-controller="CalendarListCtrl">

    <ons-list>

        <h3 class="topcoat-list__header">
            カレンダーのON/OFF
        </h3>

        <ons-list-item
                class="topcoat-list__item--tappable topcoat-list__item__line-height"
                ng-repeat="calendar in calendars"
                ng-if="calendar.sticky === false"
                ng-click="checkInverse($index)">

            <label class="topcoat-checkbox">
                <input type="checkbox" ng-model="calendar.selected">
                <div class="topcoat-checkbox__checkmark"></div>
                {{ calendar.name }}
            </label>

        </ons-list-item>

        <h3 class="topcoat-list__header">
            機能
        </h3>

        <ons-list-item
                class="topcoat-list__item--tappable topcoat-list__item__line-height"
                ng-click="toggleAllDay()">
            <label class="topcoat-switch">
                <input type="checkbox" class="topcoat-switch__input"
                        ng-model="calendarConfig.allDaySlot">
                <div class="topcoat-switch__toggle"></div>
            </label>
            <span class="topcoat-list__item__line-height">
                終日イベントを表示する
            </span>
        </ons-list-item>



    </ons-list>

    <div class="topcoat-navigation-bar topcoat-navigation-bar--bottom">
        <div class="topcoat-navigation-bar__line-height" style="text-align:center">
            {{ appName }} - {{ appVersion }}
        </div>
    </div>

</ons-page>