<ons-page style="background-color: white" ng-controller="CalendarListCtrl">

    <ul class="topcoat-list">

        <ons-list-item
                class="topcoat-list__item--tappable topcoat-list__item__line-height"
                ng-repeat="calendar in calendars"
                ng-click="checkInverse($index)">

            <label class="topcoat-checkbox">
                <input type="checkbox" ng-model="calendar.selected">
                <div class="topcoat-checkbox__checkmark"></div>
                {{ calendar.name }}
            </label>

        </ons-list-item>

    </ul>

    <div class="topcoat-navigation-bar topcoat-navigation-bar--bottom">
        <div class="topcoat-navigation-bar__line-height" style="text-align:center">
            {{ appName }} - {{ appVersion }}
        </div>
    </div>

</ons-page>