<div ng-controller="CalendarViewCtrl" class="full-height">

    <ons-page class="center">


    <div class="topcoat-button-bar"
         id="dateSelector"
         style="width: 100%;padding:5px;">
        <div class="topcoat-button-bar__item" ng-repeat="period in periods"
             ng-class="{active: selected == $index}">
            <button class="topcoat-button-bar__button"
                    ng-click="setSelected($index)">{{ period.name }}
            </button>
        </div>
    </div>

    <!-- 凡例表示 -->
    <div class="row" id="legends">
        <div ng-repeat="calendar in calendars"
             class="col-25 legend gcal-{{ calendar.shortName }}">
            {{ calendar.name }}
        </div>
    </div>

    <div
            ui-calendar="calendarConfig"
            ng-model="eventSources"
            calendar="myCalendar"
            class="span8 calendar"
            style="height:100%"
            id="calendar">
    </div>

        </ons-page>

</div>
