<ons-navigator animation="slide">
  <ons-page ng-controller="NewsListCtrl as ctrl">
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ui-sref="root"
                            analytics-on analytics-category="News" analytics-event="Click"
                            analytics-label="Back">
          <ons-icon icon="ion-android-system-back"></ons-icon>
          戻る
        </ons-toolbar-button>
      </div>
      <div class="center">ニュース</div>
    </ons-toolbar>

    <ons-list>
      <ons-list-item modifier="chevron" ng-repeat="item in ctrl.items" ui-sref="news.detail({id: item.Id})"
                     analytics-on analytics-category="News" analytics-event="Click"
                     analytics-label="{{ item.Id }}">
        <p>{{ item.Title }}</p>
      </ons-list-item>
    </ons-list>

    <ui-view></ui-view>

  </ons-page>

</ons-navigator>