<ons-page ng-controller="NewsListCtrl as ctrl">
  <ons-toolbar>
    <div class="left">
      <ons-state-back-button
                          analytics-on analytics-category="News" analytics-event="Click"
                          analytics-label="Back">
        戻る
      </ons-state-back-button>
    </div>
    <div class="center">ニュース</div>
  </ons-toolbar>

  <ons-list>
    <ons-list-item modifier="chevron" ng-repeat="item in ctrl.items"
                   style="padding-right: 40px"
                   ui-sref="app.news.detail({id: item.id})"
                   analytics-on analytics-category="News" analytics-event="Click"
                   analytics-label="{{ item.id }}">
      <p>{{ item.Title }}</p>
    </ons-list-item>
  </ons-list>

</ons-page>
