<ons-toolbar>
  <div class="left">
    <ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu()">
      <ons-icon icon="ion-navicon"></ons-icon>
    </ons-toolbar-button>
  </div>

  <div class="center">マチ<span style="color: #a90016">★</span>アプリ</div>

</ons-toolbar>

<table>
  <tbody>
  <tr>
    <td ui-sref="{{ appList[0].state }}">
      <ons-icon icon="{{ appList[0].icon }}"></ons-icon>
      <br>
      {{ appList[0].name }}
    </td>
    <td ui-sref="{{ appList[1].state }}">
      <ons-icon icon="{{ appList[1].icon }}"></ons-icon>
      <br>
      {{ appList[1].name }}
    </td>
  </tr>
  <tr>
    <td ui-sref="{{ appList[2].state }}">
      <ons-icon icon="{{ appList[2].icon }}"></ons-icon>
      <br>
      {{ appList[2].name }}
    </td>
    <td ui-sref="{{ appList[3].state }}">
      <ons-icon icon="{{ appList[3].icon }}"></ons-icon>
      <br>
      {{ appList[3].name }}
    </td>
  </tr>
  <tr>
    <!-- 用意はしたいけど間に合わん
    <td ui-sref="help">
      <ons-icon icon="ion-help-circled"></ons-icon>
      <br>
      ヘルプ
    </td>
    -->
    <td colspan="2" ui-sref="about">
      <ons-icon icon="ion-information-circled"></ons-icon>
      <br>
      このアプリについて
    </td>
  </tr>
  </tbody>
</table>
