<ons-toolbar>
  <div class="left">
    <ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu()">
      <ons-icon icon="ion-navicon"></ons-icon>
    </ons-toolbar-button>
  </div>

  <div class="center">マチ<span style="color: #a90016">★</span>アプリ</div>

</ons-toolbar>

<ons-list>

  <ons-list-item modifier="chevron" class="list-item-container app-list-item"
                 ng-repeat="app in appList"
                 ui-sref="{{ app.state }}"
                 analytics-on analytics-category="TopPage" analytics-event="Click" analytics-label="{{ app.state }}">
    <ons-row>
      <ons-col width="80px" style="text-align: center;">
        <ons-icon icon="{{ app.icon }}" size="60px"></ons-icon>
      </ons-col>
      <ons-col>
        <div class="name">
          <strong>{{ app.name }}</strong>
        </div>
        <div class="desc">
          {{ app.description }}
        </div>
      </ons-col>
      <ons-col width="40px"></ons-col>
    </ons-row>
  </ons-list-item>

</ons-list>
