<ons-list ng-controller="AppListCtrl" class="state-root">
  <ons-list-header>
    メニュー
  </ons-list-header>

  <ons-list-item modifier="chevron"
                 ng-repeat="app in appList"
                 ng-click="transit(app.state)"
                 analytics-on analytics-category="GlobalMenu" analytics-event="Click" analytics-label="{{ app.state }}">
    <ons-row>
      <ons-col width="40px" style="text-align: center;">
        <ons-icon icon="{{ app.icon }}"></ons-icon>
      </ons-col>
      <ons-col>
        {{ app.name }}
      </ons-col>
    </ons-row>
  </ons-list-item>

  <ons-list-item style="text-align:center">
    {{ appName }} - {{ appVersion }}
  </ons-list-item>
</ons-list>