<ons-list ng-controller="AppListCtrl" class="state-root">

  <div class="profile-card" ng-show="loggedIn">
    <div class="screen-name">
      <ons-icon icon="fa-check-circle-o"></ons-icon>
      ログイン済み
    </div>
    <a class="button button--light logout"
        ng-href="{{ baseUrl }}/api/v1/auth/logout?redirectTo=app">
      ログアウト
    </a>
  </div>

  <div class="profile-card" ng-show="!loggedIn">
    <div class="message">
      ログインすると「ふぁぼ機能」を<br>
      お使いいただけます
    </div>
    <a class="button button--light login"
       ng-href="{{ baseUrl }}/api/v1/auth/login?redirectTo=app">
      ログイン
    </a>
  </div>

  <ons-list-header>
    メニュー
  </ons-list-header>

  <ons-list-item modifier="chevron"
                 ng-repeat="app in appList"
                 ng-click="transit(app.state)"
                 analytics-on analytics-category="GlobalMenu" analytics-event="Click" analytics-label="{{ app.state }}">
    <ons-row>
      <ons-col width="40px" style="text-align: center;">
        <ons-icon icon="{{ app.icon }}"></ons-icon>
      </ons-col>
      <ons-col>
        {{ app.name }}
      </ons-col>
    </ons-row>
  </ons-list-item>

  <ons-list-item style="text-align:center">
    {{ appName }} - {{ appVersion }}
  </ons-list-item>
</ons-list>